
<html>
    <head>
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <h1>hello world</h1>
        <p>
            <%= users[0].name %>
        </p>
        <script src="/scripts/client.js"></script>
    </body>
</html>