
<html>
        <head>
            <link rel="stylesheet" href="/styles/style.css">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        </head>
        <body>
            <h2>Residency</h2>

            <button class="accordion">Rental Lease</button>
            <div class="panel">
                <div class="assets-info">
                    <div class="card">
                            <img src="https://media.businessinsider.com/images/54999fc6eab8ea987a1468d4-640-480.jpg" alt="Avatar" style="width:100%">
                            <div class="container">
                                <h4><b>AI Self-Driving Car</b></h4>
                                <ul>
                                    <li>Google</li>
                                    <li>2026</li>
                                    <li>Miles: 1000</li>
                                </ul>
                            </div>
                    </div>
                    <button id="car-scheduler" onclick="updateEvent()"> Reminder Update! </button>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <div class="upcoming-apmt">
                        <h2>Upcoming Appointments</h2>
                        <div class="card" style="width:20%">
                            <header class="w3-container w3-light-grey">
                                <h3>Oil Change</h3>
                            </header>
                            <div class="container">
                                <p>Oct.7, 2019 - Wesley's Auto Shop</p>
                                <hr>
                                <img src="https://cdn4.iconfinder.com/data/icons/energy-4/32/Energy-icons_oil-drum-512.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                                <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
                            </div>
                            <button class="w3-button w3-block w3-dark-grey">+ Schedule Appointment</button>
                        </div>
                    </div>
                </div>
            </div>

            <button class="accordion">Home Ownership</button>
            <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <button>
                <a href="./">Back to Dashboard</a>
            </button>

            <script src="/scripts/client.js"></script>
        </body>
        <script>
                var acc = document.getElementsByClassName("accordion");
                var i;

                for (i = 0; i < acc.length; i++) {
                  acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                      panel.style.display = "none";
                    } else {
                      panel.style.display = "block";
                    }
                  });
                }
        </script>
    </html>
