body {
  margin: 0; // center full site margin
  padding: 0;
  width: 100%;
  background: linear-gradient(to bottom right, #6bc6c1, #379b93);
  font-family: Geneva, Tahoma, Verdana, sans-serif;

  .dashboard-container {
    display: grid;
    grid-template-columns: 2fr 5fr .5fr;
    grid-gap: 2rem;

    .leftPanel {
    //   margin: 2rem;
      margin: 2rem auto;

      h2 {
          display: grid;
      }

      .nav-menu {
        ul {
          display: grid;
          grid-gap: 0.25rem;
          margin: 0 auto;
          padding: 0;

          li {
            list-style-type: none;
            border: 1px solid #ffebd2;
            padding: .25rem .5rem;

            &:hover {
              transition: background-color 2s ease-out;
              background: darken(#ffebd2, 5%); 
            }

            a {
                color: $black;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                    cursor: pointer; 
                  }
            }
          }
        }
      }
    }

    .rightPanel {
      h1 {
        text-align: center;
      }
    }

    .personalInfo {
      color: $white;
      padding: 1rem;
      border: 1px solid #ffebd2;

      b {
          color: $black;
      }
    }

    .cardContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;

      .reminderCard {
        border: 1px solid #ffebd2;
        text-align: center;
      }
    }
  }
}
