@charset "UTF-8";
/* load all sass files */
/* add variables */
/* to retrieve color sass maps from _variables */
/* colors — placeholder hexes, feel free to keep/edit/trash any of these */
/* theme palette */
/* add views */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s; }

.active,
.accordion:hover {
  background-color: #ccc; }

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 10px; }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.container {
  padding: 2px 16px; }

.assets-info {
  margin-top: 10px;
  margin-left: 10px; }
  .assets-info #car-scheduler {
    background-color: #4caf50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(to bottom right, #6bc6c1, #379b93);
  font-family: Geneva, Tahoma, Verdana, sans-serif; }
  body .dashboard-container {
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    grid-gap: 2rem; }
    body .dashboard-container .leftPanel {
      margin: 2rem; }
      body .dashboard-container .leftPanel .nav-menu ul {
        display: grid;
        grid-gap: 0.25rem; }
        body .dashboard-container .leftPanel .nav-menu ul li {
          color: darkgray;
          list-style-type: none;
          border: 1px solid #ffebd2;
          padding: .25rem; }
          body .dashboard-container .leftPanel .nav-menu ul li:hover {
            transition: background-color 2s ease-out;
            background: #ffe0b9; }
          body .dashboard-container .leftPanel .nav-menu ul li a {
            text-decoration: none; }
    body .dashboard-container .rightPanel h1 {
      text-align: center; }
    body .dashboard-container .personalInfo {
      color: #fff;
      padding: 1rem;
      border: 1px solid #ffebd2; }
    body .dashboard-container .cardContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem; }
      body .dashboard-container .cardContainer .reminderCard {
        border: 1px solid #ffebd2;
        text-align: center; }
