/* colors — placeholder hexes, feel free to keep/edit/trash any of these */
$blue: #6bc6c1;
$indigo: #af86f0;
$purple: #7e6e9b;
$pink: #ffceca;
$red: #ac2833;
$orange: #fda014;
$yellow: #ffebd2;
$green: #6dd485;
$teal: #379b93;
$light-blue: #a1d8ec;

/* theme palette */
$theme-colors: (
	primary: #465a5f,
	secondary: #d1dde0,
	tertiary: #1e768b,
	success: $green,
	info: $light-blue,
	warning: $orange,
	danger: $red,
	light: $gray-100,
	dark: $gray-800,
	light-green: #40ae49,
	mid-green: #3c7836,
	dark-green: #2b5a26,
	light-orange: #ed9700,
	dark-orange: #fb7a02,
	brown-orange: #b05600,
	dark-red: #a60000,
	dark-blue: #111437,
	light-blue: #0846b0,
);
